section {
	max-width: 1600px;
	margin: 0 auto;
}

body {
	font-family: 'Sarabun', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
	padding: 0;
	margin: 0;
}

.l-constrain--no-padding {
	max-width: 1200px;
	margin: 0 auto 2rem auto;
}

h1,
h2,
h3,
.hero-bg-image__subtitle,
.hero-bg-quote__subtitle,
h4,
h5,
h6 {
	font-family: 'Aleo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	color: #636466;
}

section p {
	margin-top: 0;
}