section {
	max-width: 1200px;
	margin: 0 auto;
}
body {
	font-family: 'Sarabun', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
.hero-bg-image__subtitle,
.hero-bg-quote__subtitle,
h4,
h5,
h6 {
	font-family: 'Aleo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	color: #636466;
}
